


.icon__animated-sqgl {
	position: absolute;
	top: 35vh;
	transform: translateY(50%);
	right: 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	height: 20rem;
	/*cursor: pointer;*/
	/*border: 1px solid red;*/
}

.sqg-outline-svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 100%;
	/*height: 5rem;*/

}

.sqg-outline-path {
	cursor: none;
	stroke-dasharray: 1323;
	stroke-dashoffset: -1323;
	animation: draw-square 12s;
}

@keyframes draw-square {
	0% {stroke-dashoffset: -1323;} 
	25% {stroke-dashoffset: 0;}
	75%{stroke-dashoffset: 0;}
	100% {stroke-dashoffset: -1323;}
}

.the-sqg-svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 100%;
	/*height: 5rem;*/
}

.the-sqg-path {
	animation: reveal-sqg 6s;
	animation-fill-mode: forwards;
	transition: fill .3s;
}

@keyframes reveal-sqg {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
} 

.icon {
	display: flex;
	align-items: center;
	justify-content: center;

	/*margin-bottom: 40px;*/
	/*height: 200px;*/
	/*width: 200px;*/

	min-height: 80px;
	min-width: 80px;
	max-height: 300px;
	max-width: 300px;

	/*border: 1px solid #450c09;*/

	

	&--fill-box {
		background-color: #450c09;
	}

	&--periph {
		/*transition: all .4s;*/
	}

	&__section-image {
		position: absolute;

		min-height: 80px;
		min-width: 80px;
		max-height: 250px;
		max-width: 250px;
		
		transition: all .5s;

		/*height: 200px;*/
		/*width: 200px;*/
	}

		&__section-image:hover {
			transition: all .5s;
			transform: scale(1.2);
		}

	&--hidden {
		/*display: none;*/
		transition: all .5s;
		transform: scale(0);
		opacity: 0;
	}

	&--visible {
		/*display: block;*/
		transition: opacity .5s;
		transform: scale(1);
		opacity: 1;
	}

	&--big {
		height: 200px;
	}

	&--wee {
		height: 75px;
	}

	&--dot {
		height: 40px;
		width: 40px;
		border-radius: 20px;

		/*transition: all .4s;*/
		/*opacity: 1;*/
		/*background-color: blue;*/
	}

	&__sqglz__box {
		transform: translateY(15px);
		padding: 5px;

		/*border: 1px solid lightgrey;*/
	}

	&__sqglz {
		height: 400px;

		@media (min-width: 985px) {
			height: 250px;
		}
	}

		&__sqglz:hover {
			cursor: pointer;
		}

	
}

