.central-content {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 90%;
	width: 80%;

	margin-top: -90px;
}

	/*border: 1px solid coral;*/

	.central-content__column {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		
		margin: 20px;
		width: 25%;

		/*border: 1px solid coral;	*/
		}

	.central-content__left-column, .central-content__right-column {
		height: 75%;

	}

	.central-content__middle-column {
		height: 90%;
	}

	.central-content__full-width-image {
		position: relative;
		left: 0;
		width: 100vw;
	}

	.central-content__image {
		max-width: 100%;
	}