.icon {
	display: flex;
	align-items: center;
	justify-content: center;

	/*margin-bottom: 40px;*/
	/*height: 200px;*/
	/*width: 200px;*/

	min-height: 80px;
	min-width: 80px;
	max-height: 300px;
	max-width: 300px;

	/*&__portfolio--dot {
		background-color: #450c09; 
	}
	&__about--dot {
		background-color: #151c24;
	}
	&__contact--dot {
		background-color: #1a2744;
	}
	&__development--dot {
		background-color: #985617;
	}
	&__small-print--dot {
		background-color: #3f4000;
	}
	&__articles--dot {
		background-color: #2f1f3f;
	}*/
}

	/*border: 1px solid #450c09;*/

	.icon--fill-box {
		background-color: #450c09;
	}

	.icon--periph {
		/*transition: all .4s;*/
	}

	.icon__section-image {
		position: absolute;

		min-height: 80px;
		min-width: 80px;
		max-height: 250px;
		max-width: 250px;
		
		transition: all .5s;

		/*height: 200px;*/
		/*width: 200px;*/
	}

	.icon__section-image:hover {
			transition: all .5s;
			-webkit-transform: scale(1.2);
			        transform: scale(1.2);
		}

	.icon--hidden {
		/*display: none;*/
		transition: all .5s;
		-webkit-transform: scale(0);
		        transform: scale(0);
		opacity: 0;
	}

	.icon--visible {
		/*display: block;*/
		transition: opacity .5s;
		-webkit-transform: scale(1);
		        transform: scale(1);
		opacity: 1;
	}

	.icon--big {
		height: 200px;
	}

	.icon--wee {
		height: 75px;
	}

	.icon--dot {
		height: 40px;
		width: 40px;
		border-radius: 20px;

		/*transition: all .4s;*/
		/*opacity: 1;*/
		/*background-color: blue;*/
	}

	.icon__sqglz__box {
		-webkit-transform: translateY(15px);
		        transform: translateY(15px);
		padding: 5px;

		/*border: 1px solid lightgrey;*/
	}

	.icon__sqglz {
		height: 400px;
	}

	@media (min-width: 985px) {

	.icon__sqglz {
			height: 250px
	}
		}

	.icon__sqglz:hover {
			cursor: pointer;
		}

