 

/* ================================= THE SQG ============= */
	 
	.icon__animated-sqgl {
		position: absolute;
		top: 30vh;
		-webkit-transform: translateY(50%);
		        transform: translateY(50%);
		right: 0;
		bottom: 0;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);

		height: 20rem;
		/*cursor: pointer;*/
		/*border: 1px solid red;*/
	}
	 
	.sqg-outline-svg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		height: 100%;
		/*height: 5rem;*/

	}
	 
	.sqg-outline-path {
		cursor: none;
		stroke-dasharray: 1323;
		stroke-dashoffset: -1323;
		-webkit-animation: draw-square 12s;
		        animation: draw-square 12s;
	}
	 
	@-webkit-keyframes draw-square {
		0% {stroke-dashoffset: -1323;} 
		25% {stroke-dashoffset: 0;}
		75%{stroke-dashoffset: 0;}
		100% {stroke-dashoffset: -1323;}
	}
	 
	@keyframes draw-square {
		0% {stroke-dashoffset: -1323;} 
		25% {stroke-dashoffset: 0;}
		75%{stroke-dashoffset: 0;}
		100% {stroke-dashoffset: -1323;}
	}
	 
	.the-sqg-svg {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		height: 100%;
		/*height: 5rem;*/
	}
	 
	.the-sqg-path {
		-webkit-animation: reveal-sqg 6s;
		        animation: reveal-sqg 6s;
		-webkit-animation-fill-mode: forwards;
		        animation-fill-mode: forwards;
		transition: fill .3s;
	}
	 
	@-webkit-keyframes reveal-sqg {
		0% {opacity: 0;}
		50% {opacity: 0;}
		100% {opacity: 1;}
	}
	 
	@keyframes reveal-sqg {
		0% {opacity: 0;}
		50% {opacity: 0;}
		100% {opacity: 1;}
	}
	 
	@media (max-width: 599px) {
	
}
	 
	@media (min-width: 600px) {

}
	 
	@media (min-width: 900px) {
	
}
	 
	@media (min-width: 1200px) {
	
}
	 
	@media (min-width: 1800px) {
	
}






