


.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 50px 30px;
}

	/*border: 1px solid gold;*/

	.main-content__header {
		margin: 40px 0;
		text-align: center;
	}

	.main-content__section {

		width: 85%;

		/*border: 1px solid gold;*/
	}

	@media (min-width: 800px) {

	.main-content__section {
			width: 700px
	}
		}

	.main-content__box {
		padding: 15px 20px;
		border-radius: 7px 7px 0 0;
		border-top: 1px solid lightgrey;
		border-right: 1px solid lightgrey;
		border-bottom: 0px solid lightgrey;
		border-left: 1px solid lightgrey;
	}

	.main-content__box-handle-box {
		display: block;
		width: 100%;
		
		text-align: center;

		border-top: 1px solid lightgrey;
		/*border: 1px solid gold;*/
	}

	.main-content__box-handle {
		padding: 0 5px 5px 5px;
		width: 40px;

		background-color: lightgrey;
		border-radius: 0 0 5px 5px;

		/*border: 1px solid gold;*/
	}

	.main-content__github-link {
		height: 30px;
	}





