


.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 20px 15px;
}

	@media (min-width: 985px) {


.main-content {
		margin: 50px 30px
}
	}

	/*border: 1px solid gold;*/

	.main-content__header {
		margin: 40px 0;
		text-align: center;
	}

	.main-content__section {

		width: 95%;

		/*border: 1px solid gold;*/
	}

	@media (min-width: 985px) {

	.main-content__section {
			width: 700px
	}
		}

	.main-content__box {
		padding: 15px 50px;
		border-radius: 21px 21px 0 0;

		border-top: 4px solid #1a2744;
		border-right: 4px solid #1a2744;
		border-bottom: 0px solid #1a2744;
		border-left: 4px solid #1a2744;

		background-color: ghostwhite;
	}

	@media (min-width: 985px) {

	.main-content__box {
			padding: 15px 20px;
			border-radius: 7px 7px 0 0;

			border-top: 1px solid #1a2744;
			border-right: 1px solid #1a2744;
			border-bottom: 0px solid #1a2744;
			border-left: 1px solid #1a2744

			/*background-color: ghostwhite;*/
	}
		}

	.main-content__box-handle-box--outer {

		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		border-top: 4px solid #1a2744;
	}

	@media (min-width: 985px) {

	.main-content__box-handle-box--outer {
			border-top: 1px solid #1a2744
	}
		}

	.main-content__box-handle-box--inner {

		margin-top: -2px;
		height: 75px;
		width: 150px;
		text-align: center;
		background-color: #1a2744;
		border-radius: 0 0 27px 27px;
	}

	@media (min-width: 985px) {

	.main-content__box-handle-box--inner {
			margin-top: 0px;
			height: 30px;
			width: 60px;
			border-radius: 0 0 9px 9px
	}
		}

	.main-content__box-handle {

		font-size: 6em;
		line-height: .09em;

		border-radius: 0 0 5px 5px;
		text-align: center;
		color: #ffffff;

		/*border: 1px solid gold;*/
	}

	@media (min-width: 985px) {

	.main-content__box-handle {
			/*margin: 0;*/
			width: 30px;
			padding: 0px 5px 5px 5px;
			font-size: 1.8em;
			line-height: .5em
	}
		}

	.main-content__github-link {
		height: 30px;
	}





