
.pull-down__box {

			overflow-x: hidden;
			padding: 15px 50px;
			border-radius: 21px 21px 0 0;

			border-top: 4px solid #1a2744;
			border-right: 4px solid #1a2744;
			border-bottom: 0px solid #1a2744;
			border-left: 4px solid #1a2744;

			background-color: ghostwhite;
		}

			@media (min-width: 985px) {
.pull-down__box {
				padding: 15px 20px;
				border-radius: 7px 7px 0 0;

				border-top: 1px solid #1a2744;
				border-right: 1px solid #1a2744;
				border-bottom: 0px solid #1a2744;
				border-left: 1px solid #1a2744

				/*background-color: ghostwhite;*/
		}
			}

	.pull-down__image {
			position: relative;
			float: right;
			left: 10%;
			margin: 0 0 20px 0;

			max-height: 800px;
		}

	@media (min-width: 985px) {

	.pull-down__image {
				/*float: right;*/
				left: 5%;
				max-height: 400px
		}
			}

	.pull-down__box-handle-box--outer {

			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			border-top: 4px solid #1a2744;
		}

	@media (min-width: 985px) {

	.pull-down__box-handle-box--outer {
				border-top: 1px solid #1a2744
		}
			}

	.pull-down__box-handle-box--inner {

			margin-top: -2px;
			height: 75px;
			width: 150px;
			text-align: center;
			background-color: #1a2744;
			border-radius: 0 0 27px 27px;
		}

	@media (min-width: 985px) {

	.pull-down__box-handle-box--inner {
				margin-top: 0px;
				height: 20px;
				width: 40px;
				border-radius: 0 0 9px 9px
		}
			}

	.pull-down__box-handle {

			font-size: 6em;
			line-height: .09em;

			border-radius: 0 0 5px 5px;
			text-align: center;
			color: #ffffff;

			/*border: 1px solid gold;*/
		}

	@media (min-width: 985px) {

	.pull-down__box-handle {

				width: 30px;
				padding: 0px 5px 5px 5px;
				font-size: 1.4em;
				line-height: 0em
		}
			}

	.pull-down__breakdown__skills-box--outer {

		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	@media (min-width: 985px) {

		}

	.pull-down__breakdown__skills-box--inner {

		margin: 60px 20px 0 20px;
	}

	@media (min-width: 985px) {

	.pull-down__breakdown__skills-box--inner {
			margin: 30px 15px 0 15px
	}
		}

	.pull-down__breakdown__copy {
		
		text-align: center;
	}

	@media (min-width: 985px) {

		}

	.pull-down__breakdown-hr {

		margin: 25px 0;
		width: 95%;
		border: 0;
    	height: 1px;
    	background-image: linear-gradient(to right, 
    	rgba(0, 0, 0, 0), 
    	rgba(152, 86, 23, 1), 
    	rgba(0, 0, 0, 0));

	}

	.pull-down__breakdown__title {
		
		margin: 0px 0 15px 0;
		font-size: 3em;
	}

	@media (min-width: 985px) {

	.pull-down__breakdown__title {

			margin: 0px 0 8px 0;
			font-size: 1.75em
	}

		}

	.pull-down__breakdown__proficiency-toggle {

		font-style: italic;

	}

	.pull-down__breakdown__proficiency-toggle:hover {

		color: #3c4760;
	}

	.pull-down__breakdown__subtitle {
		
		font-family: 'Cormorant SC', Garamond, serif;
		font-weight: 600;

		font-size: 2.4em;
	}

	@media (min-width: 985px) {

	.pull-down__breakdown__subtitle {

			font-size: 1.8em
	}

		}

	.pull-down__breakdown__heading {
		
		font-family: 'Cormorant Unicase', Garamond, serif;
		font-weight: 300;

		margin-top: 40px;
		font-size: 2em;
	}

	@media (min-width: 985px) {

	.pull-down__breakdown__heading {

			margin-top: 20px;
			font-size: 1.6em
	}
		}

	.pull-down__breakdown__skill-heading {

		font-family: 'Cormorant Infant', Garamond, serif;

		font-size: 2.3em;
	}

	@media (min-width: 985px) {

	.pull-down__breakdown__skill-heading {

			font-size: 1.5em
	}

		}

	.pull-down__breakdown-head {

		text-align: center;
	}

	@media (min-width: 985px) {

		}

li.skill {

	list-style: circle;

	font-size: 2.2em;
}

@media (min-width: 985px) {

li.skill {

		font-size: 1.2em
}

		}

li.focus {

	list-style: none;
	font-style: italic;

	font-size: 2em;
}

@media (min-width: 985px) {

li.focus {

		font-size: 1em
}
	}


