

/* ================================ OPERATIONS ======= */
	.sidebar {
		position: fixed;
		top: 20vw;
		bottom: 20vw;
		left: 0;
		/*width: 300px;*/
		z-index: 4;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;

		background-color: white;
	}
	/* I decided to make the sidebar less of a game of hide and seek, you know, to appease the hoi paloi. I'm commenting out the hard hide and seek version, in case I decide to go back to it, or want it for something else. */
	/*  Okay, second thought, I'm taking out the entire sidebar thing in favour of something much simpler. Speed is presently a virtue. */
	@media (max-width: 599px) { 
		.sidebar { width: 600px; }

		.sidebar-hidden { -webkit-transform: translateX(-615px); transform: translateX(-615px); }
		/*.sidebar-hidden { transform: translateX(0px);}*/

		.sidebar-peek { -webkit-transform: translateX(-460px); transform: translateX(-460px); }
		/*.sidebar-peek { transform: translateX(0px); }*/

		.sidebar-open { -webkit-transform: translateX(0px); transform: translateX(0px);}
 	}
	@media (min-width: 600px) { 
		.sidebar { width: 600px; }

		.sidebar-hidden { -webkit-transform: translateX(-615px); transform: translateX(-615px); }

		.sidebar-peek { -webkit-transform: translateX(-460px); transform: translateX(-460px); }

		.sidebar-open { -webkit-transform: translateX(0px); transform: translateX(0px);}
 	}
	@media (min-width: 900px) { 
		.sidebar { width: 300px; }

		.sidebar-hidden { -webkit-transform: translateX(-315px); transform: translateX(-315px); }

		.sidebar-peek { -webkit-transform: translateX(-260px); transform: translateX(-260px); }

		.sidebar-open { -webkit-transform: translateX(0px); transform: translateX(0px);}
 	}
	@media (min-width: 1200px) { 
		.sidebar { width: 300px; }

		.sidebar-hidden { -webkit-transform: translateX(-315px); transform: translateX(-315px); }

		.sidebar-peek { -webkit-transform: translateX(-260px); transform: translateX(-260px); }

		.sidebar-open { -webkit-transform: translateX(0px); transform: translateX(0px);}
 	}
	@media (min-width: 1800px) { 
		.sidebar { width: 300px; }

		.sidebar-hidden { -webkit-transform: translateX(-315px); transform: translateX(-315px); }

		.sidebar-peek { -webkit-transform: translateX(-260px); transform: translateX(-260px); }

		.sidebar-open { -webkit-transform: translateX(0px); transform: translateX(0px);}
 	}
	.sidebar-hidden {
		transition: -webkit-transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		/*transform: translateX(-315px);*/
	}
	.sidebar-peek {
		transition: -webkit-transform .6s ease-in;
		transition: transform .6s ease-in;
		transition: transform .6s ease-in, -webkit-transform .6s ease-in;
		/*transform: translateX(-260px);*/
	}
	.sidebar-open {
		transition: -webkit-transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		/*transform: translateX(0px);*/
	}
	/* ================================= LINKS ========== */
	.sidebar__ahref {
		width: 100%;
	}
	.sidebar__link-box {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		width: 100%;
		padding: 7px;
		cursor: pointer;

		transition: background-color .3s;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.sidebar__link-box:hover {
		transition: background-color .3s;
		background-color: #b1b5bf;
	}
	.sidebar__image-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 5rem;
		width: 5rem;
	}
	.sidebar__icon {
		max-width: 5rem;
		max-height: 5rem;
	}
	.sidebar__link-name {
		align-self: center;
		margin-right: 35px;

		font-family: 'Cormorant Infant', Garamond, serif;
		color: #3c4760;
		font-size: 1.4rem;
	}
