

.simple-nav {
	top: -3px;
	left: 20px;
	padding: 20px 40px;

	min-width: 30vw;
}

.home-icon__nav {
	margin: -20px 16px;
	height: 60px;
	width: 60px;
	opacity: .4;
}

.home-icon__nav:hover {
	opacity: 1;
	cursor: pointer; 
}

.simple-nav__divider {
	margin: -30px 0;
	height: 100px;
}

.icon__nav {
	margin: 0 16px;
	height: 40px;
	width: 40px;
	opacity: .4;
}

.icon__nav:hover {
	opacity: 1;
	cursor: pointer; 
}

.simple-nav__copy {
	font-family: 'TT Bluescreens Regular', Garamond, serif;
	font-weight: 400;
	color: #151c24;

	/*margin-bottom: -60px;*/
	font-size: 2.8em;
}

@media (min-width: 985px) {

.simple-nav__copy {
		font-size: 1.8em
}
	}

@media (max-width: 599px) {
	.simple-nav {
		padding: 30px 40px;
	}
	.home-icon__nav {
		margin: -20px 16px;
		height: 100px;
		width: 100px;
	}
	.simple-nav__divider {
		margin: -30px 0;
		height: 100px;
	}
	.icon__nav {
		margin: 0 16px;
		height: 80px;
		width: 80px;
	}
}

@media (min-width: 600px) {
	.simple-nav {
		padding: 50px 40px;
	}
		.home-icon__nav {
		margin: -20px 16px;
		height: 100px;
		width: 100px;
	}
	.simple-nav__divider {
		margin: -30px 0;
		height: 100px;
		/*display: none;*/
	}
	.icon__nav {
		margin: 0 16px;
		height: 80px;
		width: 80px;
	}
}

@media (min-width: 900px) {  /* pretty much all of the phones */
	.simple-nav {
		padding: 20px 40px;
	}
	.home-icon__nav {
		margin: -20px 32px;
		height: 120px;
		width: 120px;
	}
	.simple-nav__divider {
		margin: -30px 20px;
		height: 200px;
		/*display: none;*/
	}
	.icon__nav {
		margin: 24px 40px;
		height: 80px;
		width: 80px;
	}
}

@media (min-width: 1200px) {
	.simple-nav {
		padding: 50px 40px;
	}
	.home-icon__nav {
		margin: -20px 16px;
		height: 60px;
		width: 60px;
	}
	.simple-nav__divider {
		margin: -30px 0;
		height: 100px;
	}
	.icon__nav {
		margin: 0 16px;
		height: 40px;
		width: 40px;
	}
}

@media (min-width: 1800px) {
	.simple-nav {
		padding: 20px 40px;
	}
	.home-icon__nav {
		margin: -20px 16px;
		height: 60px;
		width: 60px;
	}
	.simple-nav__divider {
		margin: -30px 0;
		height: 100px;
	}
	.icon__nav {
		margin: 0 16px;
		height: 40px;
		width: 40px;
	}
}






