.central-content {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 90%;
	width: 80%;

	margin-top: -90px;

	/*border: 1px solid coral;*/

	&__column {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		
		margin: 20px;
		width: 25%;

		/*border: 1px solid coral;	*/
		}

	&__left-column, &__right-column {
		height: 75%;

	}

	&__middle-column {
		height: 90%;
	}

	&__full-width-image {
		position: relative;
		left: 0;
		width: 100vw;
	}
}