
/* ================== IMPORTED FONTS ================== */
	@font-face {
	    font-family: "TT Bluescreens Thin";
	    src: url("./assets/fonts/TT Bluescreens Thin.otf");
	}

	@font-face {
	    font-family: "TT Bluescreens Thin Italic";
	    src: url("./assets/fonts/TT Bluescreens Thin Italic.otf");
	}

	@font-face {
	    font-family: "TT Bluescreens Regular";
	    src: url("./assets/fonts/TT Bluescreens Regular.otf");
	}

	@font-face {
	    font-family: "TT Bluescreens Italic";
	    src: url("./assets/fonts/TT Bluescreens Italic.otf");
	}

	@font-face {
	    font-family: "TT Bluescreens DemiBold";
	    src: url("./assets/fonts/TT Bluescreens DemiBold.otf");
	}

	@font-face {
	    font-family: "TT Bluescreens DemiBold Italic";
	    src: url("./assets/fonts/TT Bluescreens DemiBold Italic.otf");
	}

	@font-face {
	    font-family: "TT Bluescreens Black";
	    src: url("./assets/fonts/TT Bluescreens Black.otf");
	}

	@font-face {
	    font-family: "TT Bluescreens Black Italic";
	    src: url("./assets/fonts/TT Bluescreens Black Italic.otf");
	}

	@font-face {
	    font-family: "Uniform-Light";
	    src: url("./assets/fonts/Uniform-Light.otf");
	}

	@font-face {
	    font-family: "Uniform-Medium";
	    src: url("./assets/fonts/Uniform-Medium.otf");
	}

	@font-face {
	    font-family: "Uniform-Ultra";
	    src: url("./assets/fonts/Uniform-Ultra.otf");
	}

	@font-face {
	    font-family: "UniformCondensed-Light";
	    src: url("./assets/fonts/UniformCondensed-Light.otf");
	}

	@font-face {
	    font-family: "UniformCondensed-Medium";
	    src: url("./assets/fonts/UniformCondensed-Medium.otf");
	}

	@font-face {
	    font-family: "UniformCondensed-Ultra";
	    src: url("./assets/fonts/UniformCondensed-Ultra.otf");
	}

	@font-face {
	    font-family: "UniformExtraCondensed-Light";
	    src: url("./assets/fonts/UniformExtraCondensed-Light.otf");
	}

	@font-face {
	    font-family: "UniformExtraCondensed-Medium";
	    src: url("./assets/fonts/UniformExtraCondensed-Medium.otf");
	}

	@font-face {
	    font-family: "UniformExtraCondensed-Ultra";
	    src: url("./assets/fonts/UniformExtraCondensed-Ultra.otf");
	}

	






p,li {
	font-family: 'Cormorant Garamond', Garamond, serif;
    font-weight: 300;
    font-size: 3.2rem;
}

@media (min-width: 600px) {
	p,li {
    	font-size: 2.8rem;
	}
}

@media (min-width: 985px) {
	p,li {
    	font-size: 1.6rem;
	}
}


p {
	
    line-height: 1.2em;

    color: #151c24;

    @media (min-width: 985px) {
    	line-height: 1.4em;
    }
}

strong { font-weight: 700; }

li {
    margin-top: 16px;
    line-height: 1.2em;

    color: #151c24;

    @media (min-width: 985px) {
    	margin-top: 8px;
    	line-height: 1.4em;
    }
}

h1 {
	text-align: center;
	font-family: 'Cormorant Unicase', Garamond, serif;
	font-weight: 600;
	color: #985617;

	font-size: 8em;
	line-height: .8em;

	@media (min-width: 985px) {
		font-size: 4.5em;
		line-height: .7em;
	}   
}

h2 {

	font-family: 'Cormorant Unicase', Garamond, serif;
	font-weight: 300;
	color: #985617;

	font-size: 4.2em;

	@media (min-width: 985px) {
		
	    font-size: 2.2em;
	    
    }
}

h3 {
	font-family: 'Cormorant Upright', Garamond, serif;
	font-weight: 400;
	color: #151c24;

	/*margin-bottom: -60px;*/
	font-size: 2.8em;

	@media (min-width: 985px) {
		margin: 2.5rem 0 .75rem 0;
		font-size: 1.8em;
	}
}

h4 {
	font-family: 'Cormorant SC', Garamond, serif;
	font-weight: 300;
	text-align: center;
	color: #151c24;

	margin-top: -40px;
	font-size: 3em;

	@media (min-width: 985px) {
		margin-top: -20px;
		font-size: 1.5em;
	}
}

h5,h6 {
    font-family: 'Cormorant SC', Garamond, serif;
    font-weight: 400;
    color: #151c24;
}

h5 {
	text-align: center;
	margin-top: -85px;
	font-size: 2.6em;

	@media (min-width: 985px) {
		margin-top: -40px;
		font-size: 2em; 
	}
}

h6 {

	margin-top: -10px;
	margin-bottom: -30px;
	font-size: 2.4em;

	@media (min-width: 985px) {
		margin-top: -5px;
		margin-bottom: -10px;
		font-size: 1.1em;
	}
}

a {
	text-decoration: none;
	font-family: 'Cormorant Upright', Garamond, serif;
	color: #cc9747; /*#e58122*/
}
	a:hover {
		color: #656e82;
	}


.quote {
	margin-left: 30px;
	padding-left: 20px;
	border-left: 4px solid lightgrey;
}

.hidden {
	display: none;
}

.space--small {
	height: 45px;

	@media (min-width: 985px) {
		height: 50px;
	}
}

.space--medium {
	height: 75px;

	@media (min-width: 985px) {
		height: 150px;
	}
}

.space--large {
	height: 200px;

	@media (min-width: 985px) {
		height: 300px;
	}
}



