/*.header {*/

	/*display: flex;
	justify-content: space-between;*/


	/*&__words {

		margin: 40px 0;
		display: block;
		width: 85%;

		text-align: center;

		border: 1px solid black;
	}*/

	/*&__home-corner {

		align-self: flex-start;
		margin: 30px 30px;
		min-height: 30px;
		min-width: 5px;

		border: 1px solid gold;
	}*/
/*}*/