@font-face {
      font-family: "TT Bluescreens Regular";
      src: url("../../assets/fonts/TT Bluescreens Regular.otf");
}

.nav {
	display: flex;
	flex-direction: column;

	position: fixed;
	top: 0rem;
 	left: 0rem;
 	padding: 1rem;
 	width: 100%;
 	background-color: white;

	transition: transform .3s ease-out;

 	&__closed {
 		transition: transform .3s ease-out;
 		transform: translateY(-50rem);
 	}

 	&__link-title {
 		display: block;
		margin: 2rem .75rem;
		font-family: "TT Bluescreens Regular", Helvetica, sans-serif;
		font-size: 7rem;
		color: #985617;
	}

	&__link-title:hover {
		color: #1a2744;
	}
}


@media (min-width: 1080px) {
	.nav {
		display: flex;
		flex-direction: row;

	 	width: 100%;
	 	background-color: white;

	 	&__closed {
	 		transform: translateY(0);
	 	}

	 	&__home {
	 		transform: translateY(.75rem);
	 	}

		&__link-title {
			margin: .75rem;
			font-size: 2rem;
		}
	} 
}

/* --------------------------------- HAMBURGER --------- */

	.nav__hamburger {
		margin: 4rem 0 0 0;
	}

	.nav__hamburger__bar {
		margin: 12px;
		height: 8px;
		width: 56px;
		background-color: #985617;
	}

	.nav__hamburger__top {

	}

	.nav__hamburger__middle {

	}

	.nav__hamburger__bottom {

	}

	@media (min-width: 1080px) {
		.nav__hamburger {
			display: none;
		}
	}












