/* Filipino Box Spring Hog */
/* http://www.tomwaits.com/songs/#/songs/song/156/Filipino_Box_Spring_Hog/ */

$deathsBreath: #151c24;
$oxBlood: #450c09;
$twiLight: #1a2744;
$sageGold: #d49a00;
$lostBrick: #985617;
$drabGowth: #3f4000;
$purpHills: #2f1f3f;
