/* Filipino Box Spring Hog */
/* http://www.tomwaits.com/songs/#/songs/song/156/Filipino_Box_Spring_Hog/ */

$deathsBreath: #151c24; /* body text */
$oxBlood: #450c09;  /* drawings */
$twiLight: #1a2744; /* headers and layout elements */
$sageGold: #d49a00;  /* uses */
$lostBrick: #985617;  /* links */
$drabGowth: #3f4000;  /* uses */
$purpHills: #2f1f3f;  /* uses */
